* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.clearfix::after {
 content: '';
 display: block;
 clear: both;
}

body {
	padding-top: 5px;
}

.wrapper {
	width: 907px;
 margin: 0 auto;
}

/*HEADER */
header {
	position: relative;
	height: 36px;
}

.fa.fa-phone {
	float: left;
	margin: 4px 4px 5px 6px;
	padding: 3px;
	width: 16px;
	color: #fff;
	background-image: linear-gradient(to top, #0d375b, #1c5e7f);
	border-radius: 50%;
	text-align: center;
}

.phone {
	float: left;
}

.phone li {
	display: inline-block;
	padding-top: 1px;
 vertical-align: middle;
	font-family: 'lucida_sansregular', sans-serif;
	font-size: 17px;
 line-height: 30px;
	color: #6d767a;
}

.phone li:last-child {
 padding-left: 2px;
}

.wrap {
	float: left;
	margin-left: 16px;
	background-image: linear-gradient(to top, #0d375b, #1c5e7f);
	border-radius: 3px;
 box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
}

.fa.fa-user {
	float: left;
	padding: 0 3px 0 7px;
	color: #fff;
	font-size: 19px;
	line-height: 26px;
}

form {
	padding: 1px 0;
}

.reg-form {
	width: 113px;
	font-family: 'lucida_sansregular', sans-serif;
 font-size: 11px;
	text-indent: 5px;
 line-height: 16px;
}

.mr-2 {
	margin-left: 2px;
}

.mr-1 {
	margin-left: 3px;
}

.mr-3 {
	margin-left: 4px;
}

.btn1 {
	padding: 0px 1px;
	color: #fff;
	font-family: 'lucida_sansregular', sans-serif;
	font-size: 10px;
	font-weight: bold;
	border: none;
	background-image: linear-gradient(to top, #0d375b, #1c5e7f);
}

.enter { 
 float: left;
 line-height: 20px;
}

.enter a {
	padding: 0px 4px;
	color: #fff;
	font-family: 'lucida_sansregular', sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.enter a:first-child {
	border-left: 1px solid #fff;
}

.enter a:last-child {
 margin: 0px 7px 0 15px;
 padding-right: 6px;
	text-decoration: underline;
	color: #959da5;
	font-size: 11px;
}

.icons {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 4px;
	width: 76px;
	height: 21px;
	border: 1px solid #cdd2d4;
	border-radius: 50px;
}

.icons a {
 line-height: 11px;
}

.icons span {
 color: #76848a;
 font-size: 12px;
 padding: 0px 8px 3px 1px;
}

.navbar {
	display: flex;
	width: 910px;
	position: relative;
	background-image: linear-gradient(to bottom, #464d54, #090a0a);
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
}

.mnu {
 width: 84%;
 padding-top: 3px;
}

.menu {
 float: right;
	font-family: 'lucida_sansregular', sans-serif;
	font-size: 0;
}

.menu li {
 display: inline-block;
 font-weight: bold;
 line-height: 32px;
}

.menu a {
	display: block;
	padding: 0 15px;
 color: #b1bcc0;
 text-transform: uppercase;
	font-size: 13px;
}

.menu li a:hover {
	color: #fff;
	line-height: 27px;
 background-color: #175173;
 border-radius: 25px;
	padding: 0 15px;
}

.mr-0 {
	margin-right: 18px;
}

.mr-4 {
		margin-right: 30px;
}

.mr-5 {
		margin-right: 3px;
}

.mr-6 {
		margin-right: 6px;
}

.mr-7 {
		margin-right: 11px;
}

.cart {
	width: 35%;
	margin-top: 3px;
 line-height: 28px;
	font-family: 'Arial', sans-serif;
	font-size: 0;
}

.price {
	float: right;
 padding: 1px 11px 0 0;
}

.price i {
	padding-right: 10px;
}

.fa.fa-cart-arrow-down {
	display: inline-block;
	color: #0d5a8f;
	font-size: 17px;
}

.cart a {
	padding: 0 11px;
 color: #fff;
 font-size: 11px;
}

.cart p {
	font-size: 11px;
	color: #fff;
	display: inline-block;
}

.cart span {
	padding: 0 10px;
	color: #0d5a8f;
	font-size: 12px;
}

.search {
	display: flex;
	justify-content: space-between;
	margin-top: 12px;
}

.search-main {
	float: left;
	margin-right: 7px;
	border: 1px solid #a0a0a1;
	border-radius: 22px;
}

.wrapper-panel {
	padding: 8px;
}

.name {
	display: flex;
	justify-content: space-around;
	padding-bottom: 5px;
}

.name h5, h6 {
	color: #154467;
	font-family: Arial, sans-serif;
	line-height: 17px;
}

.block-search {
	display: table;
	width: 100%;
}

.one-column {
	display: table-cell;
 padding-right: 10px;
 width: 50%;
}

.m-rows {
	display: block;
	position: relative;
}

.m-rows .season {
	display: flex;
 padding-left: 50px;
 color: #0c3256;
 align-items: center;
	line-height: 13px;
}

.m-label {
	float: left;
 width: 84px;
	font-size: 10px;
	line-height: 10px;
}

.auto, .complect {
	position: absolute;
	top: 25%;
}

.m-label span {
	color: grey;
	font-size: 10px;
}

.m-indent {
 margin-left: 86px;
}

.e-form {
	width: 74px;
}

.year {
	width: 44px;
}

.second-column {
	display: table-cell;
 width: 50%;
}

.block-footbar {
	display: block;
	width: 100%;
}

.button-primary {
	border: none;
	background: transparent;
	font-size: 12px;
	font-style: italic;
	float: right;
	text-decoration: underline;
	color: #206988;
	cursor: pointer;
}

.search-name {
	padding-bottom: 5px;
 color: #154467;
 font-family: Arial, sans-serif;
}

.flex-group {
	display: inline-flex;
 width: 100%;
 white-space: normal;
 box-sizing: border-box;
}

.m-indent-block {
	margin: 0 10px 0 45px;
}

.flex-group .middle {
	width: 50px;
	margin: 0 5px 0;
} 

.middle .size {
	width: 100%;
}

.one {
	display: table-cell;
	width: 60%;
	padding-right: 8px;
	border-right: 1px solid #bdc6ca;
}

.second {
	display: table-cell;
	width: 40%;
}

.content {
	display: flex;
	justify-content: space-between;
 padding-top: 19px;
}

.product, .block-name {
	width: 180px;
 border: 1px solid #7c8a90;
 border-radius: 30px;
}

.product {
	margin-bottom: 13px;
 box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
 -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
}

.product span, .block-name span {
	padding: 5px;
	margin: 2px 2px;
	background: #164e70;
	border-radius: 30px;
}

.product h4 {
 display: inline-block;
 padding-right: 2px;
 text-transform: uppercase;
 font-family: 'lucida_sansregular', sans-serif;
 font-size: 13px;
 color: #154467;
}

.block-name {
	width: 150px;
}

.block-name h4 {
 display: inline-block;
	padding-right: 3px;
 font-family: 'lucida_sansregular', sans-serif;
 font-size: 13px;
	text-transform: uppercase;
 color: #154467;
}

.fa.fa-file-text, .fa.fa-circle  {
	color: #fff;
	font-size: 12px;
}

.fa.fa-circle {
	margin-left: 5px;
}

.sidebar-menu {
 display: flex;
 flex-direction: column;
 padding-left: 50px;
}

.sidebar-menu li {
 list-style-type: circle;
}

.sidebar-menu li a, label  {
	font-family: 'lucida_sansregular', sans-serif;
	color: #0c3256;
	font-size: 13px;
	line-height: 26px;
}

.sidebar-menu li a:hover {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}

.leftcol, .rightcol {
	width: 20%;
}

.centercol {
	display: flex;
	width: 58%;
	padding: 10px 0 0;
	flex-wrap: wrap;
	justify-content: space-around;
	background-image: linear-gradient(to bottom, #e2e6e7, #95a8b1);
}

.model {
	width: 30%;
	text-align: center;
	font-family: 'lucida_sansregular', sans-serif;
}

.bg-model {
 margin: 3px auto;
	width: 136px;
	background-color: #fff;
	border: 1px solid #b4bec2;
	border-radius: 8px;
}

.model a {
 display: block;
	font-size: 15px;
	font-weight: bold;
	color: #206988;
}

.model h4 {
	display: block;
 padding-left: 9px;
	font-size: 13px;
	font-weight: normal;
	line-height: 9px;
	color: #000;
}

.model p {
	margin-bottom: 26px;
	text-align: center;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: bolder;
	line-height: 18px;
	color: #114165;
}

.model img { 
 padding-top: 5px;
}

form {
	float: left;
	position: relative;
}

.check {
	display: flex;
	padding-left: 24px;
	color: #0c3256;
	align-items: center;
}

input[type="checkbox"] {
	width: 10px;
	margin-right: 5px;
}

.brand2 {
	padding-bottom: 7px;
}

.btn2 {
	position: absolute;
	padding: 5px 8px;
 top: 93px;
 left: 30px;
	background-image: linear-gradient(to bottom, #1b5a7b, #0e385d);	
	color: #e5e9ea;
	border: none;
	border-radius: 18px;
	text-align: center;
	font-family: "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
 box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.75);
}

fieldset {
	border: none;
}

.brand {
 margin-top: 38px;
 display: flex;
 justify-content: center;
}

.brand-menu li {
	float: left;
}

.brand-menu li a {
	display: block;
	width: 95px;
	height: 27px;
	background: #fff url(../img/sprite.png) 0 0 no-repeat;
}

.brand-menu .br1  {
	background-position: 5px 0;
}

.brand-menu .br2  {
	background-position: -104px 0;
}

.brand-menu .br3  {
	background-position: -216px 0;
}

.brand-menu .br4  {
	background-position: -314px 0;
}

.brand-menu .br5  {
	background-position: -416px 0;
}

.brand-menu .br6  {
	background-position: -509px 0;
}

.brand-menu .br7 {
	background-position: -590px 0;
}

.brand-menu .br8  {
	background-position: -678px 0;
}

footer {
 margin-top: 27px;
	height: 100px;
	background-color: #213a4d;
	font-family: "Arial", sans-serif;
}

.footer-menu {
	display: flex;
	justify-content: center;
}

.footer-menu li {
	position: relative;
}

.footer-menu li a {
	display: block;
	padding: 10px 13px;
	color: #bec6c9;
	font-size: 12px;
}

.footer-menu li a:hover {
	color: #52abcb;
}

footer span {
 display: block;
	font-weight: bold;
	text-align: center;
 font-size: 10px;
	color: #7a4641;
}

.footer-menu > li a:before{
 content: '|';
 position: absolute; top: 50%; left: 0;      
 width: 1px;
	height: 16px;
 margin-top: -8px;
}

.footer-menu > li:first-child a:before{
 content: '';
}