@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/LeagueGothicRegular-webfont.eot');
    src: url('../fonts/LeagueGothicRegular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LeagueGothicRegular-webfont.woff2') format('woff2'),
    url('../fonts/LeagueGothicRegular-webfont.woff') format('woff'),
    url('../fonts/LeagueGothicRegular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('../fonts/OpenSansExtraBold-webfont.eot');
    src: url('../fonts/OpenSansExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansExtraBold-webfont.woff2') format('woff2'),
    url('../fonts/OpenSansExtraBold-webfont.woff') format('woff'),
    url('../fonts/OpenSansExtraBold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSansLight-webfont.eot');
    src: url('../fonts/OpenSansLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansLight-webfont.woff2') format('woff2'),
    url('../fonts/OpenSansLight-webfont.woff') format('woff'),
    url('../fonts/OpenSansLight-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}