@media screen and (min-width: 480px) {
	.section--header__logo {
		text-align: center;
	}
	.slider {
		background: rgba(0, 0, 0, 0.3);
	}
	.slide {
		display: flex;
		align-items: center;
	}
	.slide__body {
		min-width: 56%;
	}
	.slide__body--title {
		font-size: 37px;
	}
	.slide__body--title1 {
		font-size: 17px;
	}
	.slide__img {
		display: block;
		position: relative;
		min-width: 35%;
	}
	.slide__img img {
		width: 80%;
		height: auto;
		display: block;
	}
	.starts--here__title {
		width: 100%;
		line-height: 30px;
	}
	.starts--recent {
		display: flex;
		width: 80%;
		margin: 0 auto;
		align-items: center;
	}
	.starts--recent__title {
		display: flex;
		align-self: flex-start;
	}
	.starts--recent--col2 {
		word-spacing: 0;
	}
	.starts--col2__txt {
		width: 70%;
	}
	.section--brand__name {
		justify-content: center;
	}
	.it {
		width: 33.33%;
	}
	.section--categories {
		display: flex;
		flex-direction: column;
		padding: 80px 0 60px;
	}
	.categories--block__title,
	.categories--block__title1,
	.categories--block__title2,
	.categories--block__title__unvis {
		padding: 6px 0 5px 0;
		font-family: "LeagueGothicRegular", sans-serif;
		text-transform: uppercase;
		font-size: 29px;
		font-weight: 300;
		color: #454545;
	}
	.categories--block__title,
	.categories--block__title1,
	.categories--block__title2 {
		display: block;
	}
	.block--name__title,
	.block--name__txt,
	.categories--block__title__unvis {
		display: none;
	}
	.wrap--darkgrey {
		background: #ececec;
		padding: 5px;
		display: block;
	}
	.categories--block {
		max-height: 139px;
		overflow: hidden;
		margin-bottom: 30px;
	}
	.categories--block__txt {
		font-family: "OpenSansLight", sans-serif;
		font-size: 16px;
		color: #888888;
		line-height: 24px;
		width: 94%;
	}
	.section--footer {
		padding-bottom: 55px;
	}
	.section--footer__menu {
		display: flex;
		justify-content: space-around;
	}
	.section--footer__txt {
		line-height: 80px;
	}
	.footer__menu--link {
		display: block;
		font-family: "LeagueGothicRegular", sans-serif;
		font-size: 20px;
		text-transform: uppercase;
		color: #fff;
		text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.6);
	}
	.footer__menu--link:hover {
		text-decoration: underline;
		color: #edbfff;
	}
	.footer__menu--link__span {
		color: #fff;
	}
}

@media screen and (min-width: 768px) {
	.section--header {
		padding: 70px 0 100px;
	}
	.section--header__menu {
		position: relative;
	}
	.section--header__logo {
		text-align: left;
		width: 40%;
	}
	.nav {
		display: flex;
		flex-direction: row;
		border: none;
	}
	.menu--nav {
		width: 100%;
		visibility: visible;
	}
	.menu--nav__item {
		display: block;
		margin-right: 8%;
		border: none;
		min-width: 0;
		background: none;
	}
	.menu--nav__item:last-child {
		margin-right: 0;
	}
	.menu--nav__item:hover,
	.menu--nav__item:focus {
		background: none;
		border: none;
		color: #edbfff;
	}
	.menu--nav__link {
		color: #fff;
		display: block;
		background: none;
	}
	.menu--nav__link:hover {
		display: block;
		background-color: transparent;
		text-shadow: none;
		border-bottom: 1px solid transparent;
	}
	.nav__link--initial {
		border-bottom: none;
	}
	.slide {
		display: flex;
		justify-content: space-between;
	}
	.slider {
		background: rgba(0, 0, 0, 0.3);
	}
	.slide__body--txt {
		display: block;
		padding-bottom: 79px;
		padding-top: 14px;
		font-family: "OpenSansLight", sans-serif;
		font-size: 18px;
		line-height: 24px;
		color: #fff;
		max-height: 13px;
		overflow: hidden;
		width: 70%;
		word-spacing: 3px;
	}
	.slider__control {
		font-size: 30px;
	}
	.slide__body--title {
		font-size: 40px;
		line-height: 58px;
	}
	.slide__body--title1 {
		font-size: 30px;
		word-spacing: -3px;
	}
	.section--about {
		display: flex;
		justify-content: space-around;
	}
	.item--point {
		width: 30%;
	}
	.item--point__txt {
		max-height: 142px;
	}
	.section--main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 0;
	}
	.starts--pingbulLer {
		width: 50%;
	}
	.starts--here {
		width: 88%;
	}
	.starts--here__title {
		width: 44%;
	}
	.starts--here__txt {
		width: 97%;
		max-height: 147px;
	}
	.starts--recent {
		padding: 0;
		width: 50%;
	}
	.starts--col2__title {
		width: 70%;
	}
	.starts--col2__txt {
		width: 85%;
	}
	.it {
		width: 25%;
	}
	.section--brand__name {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
	}
	.section--categories {
		display: flex;
		flex-direction: row;
	}
	.categories--block {
		max-height: 218px;
	}
	.categories--block__txt {
		width: 85%;
	}
	.section--footer__menu {
		display: flex;
		justify-content: flex-start;
	}
	.footer__menu--item {
		margin-right: 60px;
	}
	.section--footer__txt {
		display: flex;
		justify-content: flex-end;
	}
}

@media screen and (min-width: 960px) {
	.section--header__logo {
		float: left;
	}
	.section--header__menu {
		float: left;
		width: 60%;
	}
	.menu--nav {
		float: right;
	}
	.menu--nav__item {
		margin: 0 0 0 6%;
	}
	.menu--nav__item:first-child {
		margin-left: 0;
	}
	.slide {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.slider__control--right,
	.slider__control--left {
		display: none;
	}
	.slider__control--left {
		top: 39%;
		left: -7%;
	}
	.slider__control--right {
		top: 39%;
		right: -7%;
	}
	.fa.fa-chevron-left .fa.fa-chevron-right {
		position: absolute;
	}
	.slider__body {
		width: 100%;
	}
	.slide__body--title {
		font-size: 50px;
	}
	.slide__body--title1 {
		font-size: 30px;
	}
	.slide__body--txt {
		max-height: 329px;
		width: 497px;
		word-spacing: 0px;
		font-size: 17px;
	}
	.slide__img img {
		margin: 0 auto;
	}
	.section--about {
		display: flex;
		justify-content: space-around;
	}
	.item--point {
		width: 33.3%;
		margin-right: 4%;
	}
	.item--point:last-child {
		margin-right: 0;
	}
	.item--point__txt {
		max-height: 112px;
	}
	.starts--recent__link {
		display: none;
	}
	.starts--recent__link--unvis {
		display: block;
	}
	.starts--col2__title {
		width: 81%;
	}
	.starts--col2__txt {
		width: 107%;
	}
	.section--brand__name {
		justify-content: space-around;
	}
	.brand--name__brand1,
	.brand--name__brand2,
	.brand--name__brand3,
	.brand--name__brand4,
	.brand--name__brand5,
	.brand--name__brand6 {
		width: 15%;
	}
	.categories--block__title {
		display: none;
	}
	.block--name__title {
		display: block;
		text-transform: uppercase;
		font-family: "LeagueGothicRegular", sans-serif;
		font-size: 49px;
		color: #454545;
		letter-spacing: -1px;
		font-weight: 300;
	}
	.block--name__title span {
		font-family: "LeagueGothicRegular", sans-serif;
		font-size: 49px;
		color: #b9b9b9;
		text-transform: uppercase;
		font-weight: 300;
	}
	.block--name__txt {
		display: block;
		font-style: italic;
		font-size: 16px;
		font-family: "Georgia", sans-serif;
		color: #d3d3d3;
		line-height: 34px;
	}
	.categories--block__title1 {
		display: none;
	}
	.categories--block__title__unvis {
		display: block;
	}
	.section--footer__menu {
		float: left;
	}
	.section--footer__txt {
		float: right;
		line-height: 23px;
	}
}