/*==========  Desktop First Method  ==========*/
  
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {     
		.logo {
		width: 20%;
	}
	
	.menu {
		width: 70%;
	}
	
	.menu-item {
    margin-right: 5%;
}
	
		.logo {
		float: none;
		width: 100%;
	}
	
	.menu {
		float: none;
		width: 100%;
	}
	
	.slider-block-1_name1 {
		font-size: 45px;;
	}
	
	.slider-block-1_name2 {
		font-size: 22px;
	}
	
	.slider-block-1_txt {
	font-size: 14px;
 line-height: 22px;
}
	
	.fa.fa-chevron-left {
 left: -30px;
	}

.fa.fa-chevron-right {
 right: -30px;
}
	
	.slider-block-2 img {
    width: 240px;
    top: -31px;
    left: -20px;
}
	
	.info-block {
    float: left;
    width: 32%;
	}
	
	.info-block_icon1, .info-block_icon2, .info-block_icon3 {
	margin: 0;
	}
	
	.w-1, .w-2, .w-3 {
		width: 79%;
	}
	
.post-block1_name {
	width: 50%;
	line-height: 29px;
}
	
.post-block1_par span {
	display: none;
}

	
.post-block2_par {
		font-size: 15px;
	}
	
.post-block2_par span {
	display: none;
}
	
.post-block_link {
		display: none;
	}

.post-block_unvis {
	display: block;
	float: right;
 padding: 19px 9px 0;
	text-transform: uppercase;
	font-family: "LeagueGothicRegular", sans-serif;
	font-size: 19px;
	text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.6);
	color: #454545;
 word-spacing: -2px;
	text-shadow: none;
}
	
.post-block_unvis:hover, .post-block_unvis:focus, .post-block_unvis:active {
	color: #454545;
}
	
.brand-name_brand1, .brand-name_brand2, .brand-name_brand3, .brand-name_brand4, .brand-name_brand5, .brand-name_brand6 {
	margin: 0;
	}
	
.item {
	padding: 0 0 0 2%;
	}
	
.item:first-child {
	padding: 0;
	}
	
.comments-block_name, .comments-block_cap, .comments-block_name span, .comments-block_name1 {
		display: none;
	}
	
	.comments-block-unvis {
	display: block;
	padding: 6px 0 5px 0;
	font-family: "LeagueGothicRegular", sans-serif;
	text-transform: uppercase;
	font-size: 29px;
	font-weight: 300;
	color: #454545;
}
	
.comments-block {
	width: 27%;
	margin: 0px 0 0 60px;
}
	
	.comments-block_txt span {
	display: none;
}

.footer-menu {
		width: 100%;
	}	
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	
	
}

@media screen and (min-width: 480px) and (max-width: 600px) {
		.menu-item {
		margin: 0 3% 0 0;
	}
	
	.slider-block-1_name2 {
		font-size: 20px;
	}
	
	.slider-block-2 img {
		width: 105%;
	}
	
	.slider-block-1_txt {
		display: none;
	}
	
.fa.fa-chevron-left {
 left: -30px;
	font-size: 35px;
	top: 100px;
	}

.fa.fa-chevron-right {
 right: -30px;
	font-size: 35px;
	top: 100px;
}
	
.info-block {
		float: none;
		width: 100%;
	}
	
	.info-block_txt_cap {
		text-shadow: none;
	}
	
	.m-1, .m-2, .m-3 {
		margin: 0;
	}
	
	.post-block1, .post-block2 {
		float: none;
		width: 100%;
	}
	
	.post-block1_name {
		width: 100%;
	}
	
	.post-block1_par {
	width: 91%;
		padding-bottom: 35px;
	}
	
	.post-block1_par span {
		display: block;
	}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
	.navigation {
		padding: 0;
	}

	.logo {
		text-align: center;
	}

	.fa.fa-chevron-left {
 left: -30px;
	font-size: 35px;
	top: 100px;
	}

.fa.fa-chevron-right {
 right: -30px;
	font-size: 35px;
	top: 100px;
}
	
	.menu-item {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
  border-bottom: 1px solid #36283e;
  border-top: 1px solid #503d58;
}
	.menu-item:first-child {
		  border-top: none;
	}
	
	.menu-item:last-child {
		  border-bottom: none;
	}
	
.menu-item:hover {
    background: rgba(42, 33, 47, 0.8);
    border-bottom: 2px solid #edbfff;
}
	
	.menu {
	width: 64%;
	background: rgba(60, 47, 69, 0.9);
	border-radius: 11px;
	border: 1px solid #111b22;
	margin: 0 auto;
		position: relative;
		z-index: 1;
}
	
	.menu-item_link_span {
    text-shadow: none;
}
	
	.slider {
		position: absolute;
		z-index: 0;
		top: 126px;
		width: 100%;
	}
	
.slider-block-1_name1 {
 font-size: 40px;
	}
	
.slider-block-1_name2 {
    font-size: 17px;
	padding-bottom: 145px;
}
	
	.slider-block-1_txt {
		display: none;
	}
	
	.info-block {
		float: none;
		width: 100%;
	}
	
	.info-block_txt_cap {
		text-shadow: none;
	}
	
	.m-1, .m-2, .m-3 {
		margin: 0;
	}
	
	.post-block1, .post-block2 {
		float: none;
		width: 100%;
	}
	
	.post-block1_name {
		width: 100%;
	}
	
	.post-block1_par {
	width: 91%;
		padding-bottom: 35px;
	}
	
	.post-block1_par span {
		display: block;
	}
	
	.brand-name_brand4, 	.brand-name_brand5, 	.brand-name_brand6 {
		margin-top: 15px;
	} 
	
	.comments-wrap {
		padding-bottom: 40px;
	}
	
	.comments-block {
		width: 100%;
		padding-bottom: 45px;
  margin: 0;
	}
	
	.footer-menu_item {
    margin: 0 4% 0 0;
	}
	
		.footer-menu_item:first-child {
    margin: 0 4% 0 0;
	}
	
	.footer-txt {
		width: 100%;
		text-align: center;
		line-height: 10px;
		padding-bottom: 50px;
	}
	
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.wrapper {
		padding-top: 40px;
	}
	
	.menu-item {
		display: none;
	}
	
	.menu-item:first-child, .menu-item:first-child:hover  {
		display: block;
		border-bottom: none;
		background: transparent;
	}
	
	.menu {
		background: transparent;
		border: none;
	}
	
	.slider {
		background: none;
		position: relative;
	}
	
	
	.slider-block-1 {
		width: 100%;
		text-align: center;
	}
	
		.fa.fa-chevron-left {
 left: -30px;
	font-size: 35px;
	top: 20px;
	}

.fa.fa-chevron-right {
 right: -30px;
	font-size: 35px;
	top: 20px;
}
	
	.slider-block-1_name1 {
		padding-top: 0;
	}
	
.slider-block-2 {
		display: none;
	}
	
	.info {
		margin: 50px 0 10px 0;
	}
	
	.info-block {
		padding-bottom: 30px;
	}
	
	.post-block2_cap span {
		display: none;
	}
	
	.item {
		margin-top: 20px;
	}
	
.brand-name_brand3 {
		background-position: -250px 0;
	}
	
	.brand-name_brand4 {
		background-position: -373px 0;
	}

	.comments {
		display: none;
	}
	
	.footer-menu {
		display: none;
	} 

	.footer-txt {
		padding: 40px 0 100px 0;
	}

}




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
 
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}