* {
	margin: 0;
	padding: 0;
}

ul,
li {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}


/*LOGO*/

.wrap--substrate {
	display: flex;
	flex-direction: column;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

.wrap {
	display: flex;
	justify-content: center;
}

.section {
	width: 100%;
	max-width: 960px;
	min-width: 320px;
	margin: 0 auto;
}

.section--header {
	padding: 70px 0 100px;
}

.section--header__logo {
	text-align: center;
}

.logo-item {
	text-transform: uppercase;
	font-family: "LeagueGothicRegular", sans-serif;
	font-size: 46px;
	color: #fff;
	text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.6);
}

.logo-item__gradient {
	font-family: "LeagueGothicRegular", sans-serif;
	font-size: 46px;
	color: #35273d;
	background-image: linear-gradient(to bottom, #734f82, #35273d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: none;
}


/*NAV MENU*/

.section--header__menu {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 244px;
	border: 1px solid rgba(5, 17, 22, 0.9);
	border-radius: 7px;
	overflow: hidden;
}

.menu--nav {
	visibility: hidden;
	margin: 0 auto;
}

.menu--nav:hover {
	visibility: visible;
}

.menu--nav:hover menu--nav__link {
	display: block;
}

.menu--nav:hover nav--link__initial {
	text-shadow: none;
	border: 0;
}

.menu--nav__item {
	display: block;
	min-width: 244px;
	padding-top: 1px;
	text-align: center;
	overflow: hidden;
	background-color: #36293e;
	background-color: rgba(54, 41, 62, 0.9);
	border-bottom: 1px solid rgba(53, 39, 61, 0.9);
}

.menu--nav__link {
	font-family: "LeagueGothicRegular", sans-serif;
	font-size: 24px;
	color: #fff;
	line-height: 48px;
	text-transform: uppercase;
	text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.6);
	text-align: center;
	text-decoration: none;
}

.menu--nav__link:hover {
	display: block;
	background-color: #13070C;
	background-color: rgba(0, 0, 0, 0.3);
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.6) !important;
	border-bottom: 1px solid #edbfff !important;
}

.nav__link--visible {
	visibility: visible;
	padding: 0 5px;
}

.nav__link--initial {
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
	border-bottom: 1px solid #edbfff;
}


/*SLIDER*/

.slider {
	position: relative;
}

.section--slider {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.slider__control {
	display: flex;
	align-items: center;
	width: 5%;
	color: #fff;
	font-size: 50px;
}

.slider__control--right {
	display: flex;
	justify-content: flex-end;
}

.slider__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slide {
	display: flex;
}

.slide__body--title {
	font-family: "LeagueGothicRegular", sans-serif;
	font-weight: 300;
	font-size: 40px;
	color: #fff;
	text-transform: capitalize;
}

.slide__body--title1 {
	color: #edbfff;
	font-family: "LeagueGothicRegular", sans-serif;
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 300;
	line-height: 20px;
}

.slide__body--txt,
.slide__img {
	display: none;
}

.fa.fa-chevron-left {
	top: 182px;
	left: -172px;
	font-size: 25px;
	color: #fff;
}

.fa.fa-chevron-right {
	top: 182px;
	right: -172px;
	font-size: 25px;
	color: #fff;
}

.slider--ctrl,
.starts--ctrl {
	text-align: center;
	margin: 60px 0;
}

.slider--ctrl__button,
.starts--ctrl__button {
	display: none;
}

.slider--ctrl__button + label,
.starts--ctrl__button + label {
	background: url(../img/radio1.png) no-repeat scroll 0 0;
	cursor: pointer;
	padding-left: 25px;
}

.slider--ctrl__button:checked + label,
.starts--ctrl__button:checked + label {
	background: url(../img/active.png) no-repeat scroll 0 0;
}


/*ABOUT*/

.wrap--violent {
	background-image: linear-gradient(to bottom, #734f82, #35273d);
	background-size: cover;
	border-top: 1px solid #33253a;
	padding: 5px;
}

.section--about {
	padding: 70px 0 50px 0;
}

.item--point {
	display: flex;
	padding-bottom: 20px;
}

.item--icon {
	display: block;
	width: 38px;
	height: 38px;
	background: transparent url(../img/icon.png) 0 0 no-repeat;
}

.icon--bubble {
	background-position: -38px 0;
}

.icon--note {
	background-position: -79px 0;
}

.item--point__body {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	flex: 1 0 75%;
	color: #fefefe;
}

.item--point__title {
	font-family: "LeagueGothicRegular", sans-serif;
	font-weight: 300;
	font-size: 29px;
	text-transform: uppercase;
}

.item--point__txt {
	padding-top: 7px;
	width: 95%;
	max-height: 69px;
	overflow: hidden;
	font-family: "OpenSansLight", sans-serif;
	font-size: 15px;
	line-height: 23px;
}

.item--point__link {
	padding-top: 10px;
	align-self: flex-end;
	text-transform: uppercase;
	font-family: "LeagueGothicRegular", sans-serif;
	font-size: 19px;
	text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.6);
	color: #fff;
	word-spacing: -2px;
}


/*MAIN*/

.wrap--white {
	background: #f9f9f9;
	background-size: cover;
	border-bottom: 1px solid #e6e6e6;
	border-top: 1px solid #f9f9f9;
	padding: 5px;
}

.section--main {
	padding: 70px 0 90px 0;
	display: flex;
	flex-direction: column;
}

.section--starts {
	display: flex;
}

.starts--substrate {
	width: 92%;
	margin-left: 25px;
	box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.5);
	-webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.5);
	background: #fff;
}

.starts--recent {
	display: flex;
	flex-direction: column;
}

.starts--here {
	display: flex;
	padding: 20px 0;
}

.starts--here__body {
	display: flex;
	flex-direction: column;
	padding-right: 15px;
}

.starts--here img {
	position: relative;
	left: -26px;
	width: 49px;
	height: 51px;
}

.starts--here__title {
	text-transform: uppercase;
	font-family: "LeagueGothicRegular", sans-serif;
	font-size: 28px;
	word-spacing: -1px;
	color: #515151;
	font-weight: 300;
	line-height: 25px;
	width: 50%;
}

.starts--here__title span {
	text-transform: uppercase;
	font-family: "LeagueGothicRegular", sans-serif;
	font-size: 28px;
	color: #edbfff;
}

.starts--here__txt {
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #454545;
	line-height: 24px;
	max-height: 165px;
	overflow: hidden;
}

.starts--recent__title {
	padding: 23px 0 15px;
	text-transform: uppercase;
	font-family: "LeagueGothicRegular", sans-serif;
	font-size: 28px;
	word-spacing: -1px;
	color: #515151;
	font-weight: 300;
}

.starts--recent__body {
	display: flex;
	align-items: center;
}

img {
	margin: 5px 15px 0 0;
}

.body__stars {
	display: flex;
	align-items: center;
}

.starts--col2__title {
	font-family: "OpenSansLight", sans-serif;
	word-spacing: 6px;
	color: #515151;
	font-weight: 600;
	width: 60%;
	overflow: hidden;
	max-height: 21px;
}

.starts--col2__txt {
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	max-height: 20px;
	overflow: hidden;
}

.starts--recent--col2 {
	word-spacing: 5px;
}

.starts--recent__link,
.starts--recent__link--unvis {
	align-self: flex-end;
	text-transform: uppercase;
	font-family: "LeagueGothicRegular", sans-serif;
	font-size: 19px;
	text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.6);
	color: #454545;
	word-spacing: -2px;
}

.starts--recent__link--unvis {
	display: none;
}


/*BRAND*/

.wrap-grey {
	background: #f9f9f9;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #d8d8d8;
	padding: 5px;
}

.section--brand__name {
	padding: 50px 0 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.it {
	width: 50%;
}

.item--brand1,
.item--brand2,
.item--brand3,
.item--brand4,
.item--brand5,
.item--brand6 {
	background: transparent url(../img/brand.png) 0 0 no-repeat;
}

.item--brand1 {
	background-position: 25px 11px;
}

.item--brand2 {
	background-position: -112px 11px;
}

.item--brand3 {
	background-position: -242px 11px;
}

.item--brand4 {
	background-position: -375px 11px;
}

.item--brand5 {
	background-position: -520px 11px;
}

.item--brand6 {
	background-position: -679px 11px;
}

.item {
	display: block;
	height: 93px;
	width: 115px;
	margin: 0 auto;
}


/*CATEGORIES*/

.wrap--darkgrey {
	background: #ececec;
	padding: 5px;
	display: none;
}

.section--categories {
	display: none;
}


/*FOOTER*/

.wrap--footer {
	background: url(../img/footer_bg.jpg) 0 0 no-repeat;
	background-size: cover;
	padding: 5px;
}

.section--footer {
	padding: 35px 0 140px;
}

.section--footer__txt {
	display: flex;
	justify-content: center;
	font-family: "OpenSansLight", sans-serif;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

.section--footer__txt span {
	font-family: "OpenSansExtrabold", sans-serif;
	margin-left: 5px;
}

.section--footer__menu {
	display: none;
}