* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	padding-top: 40px;
	background-image: url(../img/bg.jpg);
	background-size: cover;
	font-family: "TamohaRegular", sans-serif;
}

.clearfix::after {
 content: '';
 display: block;
 clear: both;
}

.container {
	margin: 0 auto;
	width: 1000px;
	background-color: #fff;
 -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
 box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

/* HEADER */
.header {
	position: relative;
	padding: 20px 30px 0;
}

.logo {
	position: relative;
 float: left;
 width: 283px;
 height: 164px;
 background: url(../img/logo.png);
	}

.logo p {
	position: absolute;
	top: 100px;
 right: 85px;
	color: #128aa7;
	font-size: 12px;
	text-align: center;
}

.contacts {
	float: right;
	color: #128aa7;
	font-size: 12px;
}

.contacts ul li {
	line-height: 20px;
}

.country {
 float: right;
	clear: right;
	padding-top: 10px;
}

.photo {
 display: inline-block;
}

.photo a {
	display: block;
	position: relative;
	padding-top: 47px;
 width: 54px;
	color: #298db2;
	font-size: 10px;
	text-decoration: underline;
	text-align: center;
	}

.photo a img {
	position: absolute;
	top: 2px;
 right: 5px;
	}

.pic {
	background-image: url(../img/bg-1.jpg);
	height: 237px;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}

.nav {
	position: relative;
	background-color: #343434;
 -webkit-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75);
 box-shadow: 0px 10px 5px -6px rgba(0,0,0,0.75);
	border-bottom: 1px solid #000;
}

.menu li {
	float: left;
	position: relative;
}

.menu li a {
	display: block;
 padding: 7px 33px 7px 34px;
	font-size: 14px;
	color: #fff;
}

.fa {
 bottom: 13px;
	font-size: 10px;
}

.submenu {
	position: absolute;
	display: none;
	width: 100%;
	-webkit-box-shadow: 0px 10px 5px -3px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 10px 5px -3px rgba(0,0,0,0.75);
 box-shadow: 0px 10px 5px -3px rgba(0,0,0,0.75);
}

.submenu > li {
	float: none;
}

.submenu > li > a {
	display: block;
	padding: 7px;
	background-color: #343434;
	color: white;
	text-decoration: none;
	text-align: center;
	border: none;
}

.menu > li:hover > .submenu {
 display: block;
}

i {
 position: absolute;
 right: 22px;
}

/* CONTENT */
.fon {
 display: flex;
 justify-content: space-between;
	}

.leftcol {
  width: 25%;
  background-color: #edeef0;
	 border-right: 1px solid #c7cacf;
	}

.centercol {
  width: 50%;
  background-color: #fff;
	}

.rightcol {
  width: 25%;
  background-color: #edeef0;
		border-left: 1px solid #c7cacf;
	}

h3 {
	padding: 10px 0;
	color: #424c43;
	text-align: center;
	font-size: 18px;
}

p {
	color: #424c43;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
}

.copyright {
	margin: 13px 0;
	color: #fff;
	font-size: 12px;
	text-align: center;
}